body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
